// Overrides
@if $bulmaswatch-import-font {
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
}

hr {
  height: $border-width;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

a {
  transition: all 200ms ease;
}

.label {
  color: $grey-lighter;
}

.card {
  $card-border-color: lighten($natoblue, 5);
  box-shadow: none;
  border: $border-width solid $card-border-color;
  background-color: $natoblue;
  border-radius: $radius;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: rgba($black-bis, 0.2);
    border-radius: $radius $radius 0 0;
  }

  .card-footer {
    background-color: rgba($black-bis, 0.2);
  }

  .card-footer,
  .card-footer-item {
    border-width: $border-width;
    border-color: $card-border-color;
  }
}

.navbar {
  border-radius: $radius;

  &.is-transparent {
    background: none;
  }

  &.is-primary {
    .navbar-dropdown {
      a.navbar-item.is-active {
        background-color: $link;
      }
    }
  }

  @include touch {
    .navbar-menu {
      background-color: $navbar-background-color;
      border-radius: 0 0 $radius $radius;
    }
  }
}

.hero .navbar,
body > .navbar {
  border-radius: 0;
}
